[SddmGreeterTheme]
Name=Bee-Hive
Description=Thème de connexion Bee-Hive OS — Palette HoneyDark avec grille hexagonale animée
Author=Maya & Marc
Version=0.2.1
License=GPL-3.0
Type=sddm-theme
Screenshot=assets/hexa_neon_honey.png
MainScript=Main.qml
ConfigFile=theme.conf
QtVersion=6
